<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Code Menu
		 #Templates
		 #Code
	-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1" />
	<title>Fireguy92 the Crossword Game</title>
	<link href="./style.css" type="text/css" rel="stylesheet" />
</head>
<body ng-app="dadsGame">
	<game-board></game-board>
</body>
</html>

<!--#Templates-->
<script type="text/ng-template" id="column-letter-boxes">
	<span class="letter-box" ng-repeat="letter in gameBoard.selectedColumn.answer.posArray" ng-class="{selected:gameBoard.selectedColumn.posIds[1]==letter[1] && gameBoard.selectedColumn.posIds[0]==letter[0]}" ng-init="column=gameBoard.getColumnByPosArray(letter)" ng-click="gameBoard.selectColumn(column)">
		<div style="position:relative;" ng-show="gameBoard.memory.data.isDebug">
			<div style="position:absolute;font-size:0.6em;color:#888888;">
				{{column.expect}}
			</div>
		</div>
		{{gameBoard.memory.data.tabularData[ letter[0] ].columns[ letter[1] ].value||'&nbsp;'}}
	</span>
</script>

<script type="text/ng-template" id="crossword-table">
	<table cellPadding="0" cellSpacing="0" border="0" align="center">
		<tr ng-repeat="row in gameBoard.memory.data.tabularData track by row.id">
			<td ng-repeat="column in row.columns track by column.id"
				id="cell{{column.id}}"
				ng-class="{'column-correct':column.answer.complete, 'column-expected':column.expect, 'column-selected':gameBoard.selectedColumn.id==column.id, 'column-highlighted':gameBoard.isColumnInAnswer(column)}"
				ng-click="gameBoard.selectColumn(column)"
			>
				<div class="cell text-center"
					ng-style="{width: gameBoard.zoom + 'vw', height: gameBoard.zoom + 'vw'}"
				>
					<div ng-show="column.cornerTitle" style="position:relative;">
						<div class="corner-title">{{column.cornerTitle}}</div>
					</div>
					<div ng-hide="gameBoard.memory.data.isDebug" style="height:100%;padding-top:0.9em;">{{column.value}}</div>
					<input type="text" maxLength="1"
						ng-model="column.expect"
						title="{{row.id+','+column.id}}"
						ng-show="gameBoard.memory.data.isDebug"
					/>
				</div>
			</td>
		</tr>
	</table>
</script>

<script type="text/ng-template" id="tool-panel">
	<div style="display: flex;gap:1em; flex-wrap:wrap">
		<div ng-show="gameBoard.selectedColumn && gameBoard.selectedColumn.id">
			<div style="float:right">
				<div class="text-center close-btn" ng-click="gameBoard.selectedColumn=null">x</div>
			</div>
			<strong style="margin-top:0;">Clue #{{gameBoard.selectedColumn.answer.id+1}}</strong>
			<div style="padding:.7em;font-size:0.85em;">{{gameBoard.selectedColumn.answer.hint}}</div>
	
			<div class="text-center" style="width:100%;overflow-x:auto;white-space:nowrap;">
				<column-letter-boxes></column-letter-boxes>
			</div>
	
			<div ng-show="gameBoard.memory.data.isDebug">
				<debug-column column="gameBoard.selectedColumn"></debug-column>
			</div>
		</div>
		<div>
			<div>zoom</div>
			<div>
				<input type="range" id="zoom" min="1" max="8" step="1"
					ng-model="gameBoard.zoom"
				/>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="debug-column">
	<strong ng-class="{'text-success':gameBoard.isAnswerComplete(column.answer)}"
	>value:{{column.answer.value}}</strong>

	<div>posArray:{{column.answer.posArray}}</div>
	
	<div>
		matches:
		<table cellPadding="4" cellSpacing="0" border="1">
			<tr>
				<th>#</th>
				<th>expect</th>
				<th>value</th>
				<th>start</th>
				<th>end</th>
			</tr>
			<tr ng-repeat="match in column.answer.matches">
				<td>{{$index}}</td>
				<td>{{match.expect}}</td>
				<td>{{match.value}}</td>
				<td>
					<input type="text"
						ng-model="gameBoard.answerMap[ column.answer.id ].posMap[ $index ][0]"
						maxLength="2" placeholder="{{match.start}}"
					/>
				</td>
				<td>
					<input type="text"
						ng-model="gameBoard.answerMap[ column.answer.id ].posMap[ $index ][1]"
						maxLength="2" placeholder="{{match.end}}"
					/>
				</td>
			</tr>
		</table>
	</div>
</script>

<script type="text/ng-template" id="debug-panel">
	<div style="height:100%;overflow:auto;">
		<div style="float:right">
			<input type="button" ng-click="gameBoard.restart()" value="restart" />
		</div>
		<div style="clear:both"></div>
		<div>
			isDebug:<input type="checkbox" ng-model="gameBoard.memory.data.isDebug" />
		</div>
	</div>
</script>

<script type="text/ng-template" id="game-timeout">
	<well-stage>
		<h1 style="margin-top:0.5em;text-align:left;padding:1em;padding-bottom:0;">Go Faster!!!</span></h1>
		<div style="border:10px solid black;border-radius:45%;max-width:400px;width:90%;display:inline-block;background:url('time-out.jpg') center center;height:492px">
			&nbsp;
		</div>
		<p>I could have eaten you by now if I wanted!!!</p>
		<p>Pick-up the pace human!</p>
		<br />
		<div ng-click="gameBoard.path='game-board'"
			style="width:100px;"
			class="btn btn-default"
		>Continue</div>
		<br />
		<p class="text-xs text-muted">Created Christmas 2015 by Acker Apple</p>
	</well-stage>
</script>

<script type="text/ng-template" id="game-won">
	<well-stage>
		<h1 style="margin-top:0.5em;text-align:left;padding:1em;padding-bottom:0;">You did it!!!</span></h1>
		<div style="border:10px solid black;border-radius:45%;max-width:400px;width:90%;display:inline-block;background:url('game-win.jpg') center center;height:400px">
			&nbsp;
		</div>
		<p>You have tammed the beast!!!</p>
		<p>You have earned the nap of a life time!</p>
		<br />
		<div ng-click="gameBoard.restart();gameBoard.path='game-board'" style="width:100px" class="btn btn-default">Restart</div>
		<br />
		<p class="text-xs text-muted">Created Christmas 2015 by Acker Apple</p>
	</well-stage>
</script>

<script type="text/ng-template" id="game-intro">
	<well-stage>
		<h1 style="margin-top:0.5em;text-align:left;padding:.5em;">Fireguy92 <span style="font-size:0.7em;white-space:nowrap;">the Crossword Puzzle</span></h1>
		<div style="border:10px solid black;border-radius:45%;max-width:400px;width:90%;display:inline-block;background:url('menu-dragon.jpg') center center;height:492px">
			&nbsp;
		</div>
		<br /><br />
		<div class="btn btn-default" ng-hide="gameBoard.memory.data.updatedAt" ng-click="gameBoard.path='game-board'" style="width:100px">Start</div>
		<div ng-show="gameBoard.memory.data.updatedAt">
			<div ng-click="gameBoard.path='game-board'"
				style="width:100px;background-color:green;color:white;"
				class="btn btn-default"
			>Continue</div>
			<div ng-click="gameBoard.restart();gameBoard.path='game-board'" style="width:100px" class="btn btn-default"
			>Restart</div>
		</div>
		<br />
		<p class="text-xs text-muted">Created Christmas 2015 by Acker Apple</p>
	</well-stage>
</script>

<script type="text/ng-template" id="well-stage">
	<table cellPadding="0" cellSpacing="0" border="0" style="height:100%;width:100%;">
		<tr>
			<td style="padding:2em;" class="text-center">
				<div style="background-color:white;border-radius:2em;overflow:hidden;display:inline-block;max-width:400px;width:100%">
					<ng-transclude></ng-transclude>
				</div>
			</td>
		</tr>
	</table>
</script>

<!--<key-sniff last-key-model="" on=""></key-sniff>-->
<script type="text/ng-template" id="game-board">
	<div style="position:fixed;top:0;right:-150%;z-index:10" slide slide-play-count="1" slide-play-every-ms="60000">
		<img src="win-corner-image.gif" border="0" />
	</div>
	<div ng-show="gameBoard.answerCount">
		<div style="position:fixed;bottom:0;right:100%;z-index:10"
			slide slide-direction="lr"
			slide-play-count="1"
			slide-watch="gameBoard.answerCount"
		>
			<img src="./answer-right.gif" border="0" />
		</div>
	</div>
	<div ng-class="{'debug-game':gameBoard.memory.data.isDebug, 'answer-selected':gameBoard.selectedColumn}" style="height:100%">
		<game-intro ng-show="gameBoard.path=='game-intro'"></game-intro>
		<game-timeout ng-show="gameBoard.path=='game-timeout'" id="game-timeout-area"></game-timeout>
		<game-won ng-show="gameBoard.path=='game-won'" id="game-won-area"></game-won>
		<div ng-show="gameBoard.path=='game-board'">
			<form change="gameBoard.onKey()" style="width:100%;height:100%;">
				<div style="position:relative;" class="text-center">
					<div class="fixed-panel">
						<div class="app-max-width text-left" style="width:100%;display:inline-block;">
							<div ng-hide="gameBoard.selectedColumn">
								<h2 style="margin-top:0;margin-bottom:0.2em;">
									Fireguy<span ng-dblclick="gameBoard.memory.data.isDebug=gameBoard.memory.data.isDebug?false:true;gameBoard.memory.save()">92</span> the Crossword Game
								</h2>
								<div class="text-muted text-center text-sm">
									- choose a tile below -
								</div>
							</div>
							<div ng-show="gameBoard.selectedColumn">
								<div class="tool-panel-wrap">
									<div>
										<tool-panel></tool-panel>
									</div>
								</div>
								<div ng-show="gameBoard.memory.data.isDebug" style="height:40px">
									<debug-panel></debug-panel>
								</div>
							</div>
						</div>
					</div>
				</div>
				<crossword-table></crossword-table>
				<div ng-show="gameBoard.selectedColumn" style="position:fixed;bottom:0;width:100%">
					<letter-selector model="gameBoard.selectedColumn.value" on="gameBoard.checkState();gameBoard.onKey()"></letter-selector>
				</div>
			</form>
		</div>
	</div>
</script>

<!-- script to drawn keyboard guessable letters -->
<script type="text/ng-template" id="letter-selector">
	<div class="text-center letter-selector-wrap">
		<div style="position:relative;">
			<div style="position:absolute;padding-left:5px;color:#444444;">letter picker</div>
		</div>
		<div style="margin:1em;margin-bottom:0;">
			<span class="letter-selector" ng-click="model='a';go()" ng-class="{selected:model=='a'}">a</span>
			<span class="letter-selector" ng-click="model='e';go()" ng-class="{selected:model=='e'}">e</span>
			<span class="letter-selector" ng-click="model='i';go()" ng-class="{selected:model=='i'}">i</span>
			<span class="letter-selector" ng-click="model='o';go()" ng-class="{selected:model=='o'}">o</span>
			<span class="letter-selector" ng-click="model='u';go()" ng-class="{selected:model=='u'}">u</span>
			<span class="letter-selector" ng-click="model='y';go()" ng-class="{selected:model=='y'}">y</span>
		</div>
		<div style="margin:1em;margin-bottom:0;">
			<span class="letter-selector" ng-click="model='b';go()" ng-class="{selected:model=='b'}">b</span>
			<span class="letter-selector" ng-click="model='c';go()" ng-class="{selected:model=='c'}">c</span>
			<span class="letter-selector" ng-click="model='d';go()" ng-class="{selected:model=='d'}">d</span>
			<span class="letter-selector" ng-click="model='f';go()" ng-class="{selected:model=='f'}">f</span>
			<span class="letter-selector" ng-click="model='g';go()" ng-class="{selected:model=='g'}">g</span>
			<span class="letter-selector" ng-click="model='h';go()" ng-class="{selected:model=='h'}">h</span>
			<span class="letter-selector" ng-click="model='j';go()" ng-class="{selected:model=='j'}">j</span>
			<span class="letter-selector" ng-click="model='k';go()" ng-class="{selected:model=='k'}">k</span>
			<span class="letter-selector" ng-click="model='l';go()" ng-class="{selected:model=='l'}">l</span>
			<span class="letter-selector" ng-click="model='m';go()" ng-class="{selected:model=='m'}">m</span>
		</div>
		<div style="margin:1em;">
			<span class="letter-selector" ng-click="model='n';go()" ng-class="{selected:model=='n'}">n</span>
			<span class="letter-selector" ng-click="model='p';go()" ng-class="{selected:model=='p'}">p</span>
			<span class="letter-selector" ng-click="model='q';go()" ng-class="{selected:model=='q'}">q</span>
			<span class="letter-selector" ng-click="model='r';go()" ng-class="{selected:model=='r'}">r</span>
			<span class="letter-selector" ng-click="model='s';go()" ng-class="{selected:model=='s'}">s</span>
			<span class="letter-selector" ng-click="model='t';go()" ng-class="{selected:model=='t'}">t</span>
			<span class="letter-selector" ng-click="model='v';go()" ng-class="{selected:model=='v'}">v</span>
			<span class="letter-selector" ng-click="model='w';go()" ng-class="{selected:model=='w'}">w</span>
			<span class="letter-selector" ng-click="model='x';go()" ng-class="{selected:model=='x'}">x</span>
			<span class="letter-selector" ng-click="model='z';go()" ng-class="{selected:model=='z'}">z</span>
		</div>
	</div>
</script>

<!--#Code-->
<script src="./GameBoard.class.js" type="text/javascript" charset="utf-8"></script>
<script src="./app.js" type="text/javascript" charset="utf-8"></script>
<script src="./angular.js" type="text/javascript" charset="utf-8"></script>
<script>loadGame()</script>