html {scroll-behavior: smooth;}
html, body {
	width:100%;height:100%;margin:0;padding:0;font-size:16px;
	font-family:Helvetica;
}

body{
	background:url('fire-dragon-wallpaper-widescreen-i170.jpg') center center no-repeat #010101;
}

game-intro{
	display:block;height:100%;
}

.btn{
	display:inline-block;padding:0.5em;cursor:pointer;
}

.text-muted{
	color:#666666;
}

.text-xs{
	font-size:0.6em;
}

.text-sm{
	font-size:0.8em;
}

.btn-default{
	border:1px solid #666666;border-radius:6px;
}

.btn-default:hover{
	background-color:#CCCCCC;
}

.close-btn{
	border:1px solid black;padding:0.2em;cursor:pointer;
	width:10px;height:10px;
	line-height:11px;
}

.close-btn:hover,
.letter-selector.selected{
	background-color:#feff9f;
}

.fixed-panel{
	width:100%;overflow:auto;position:fixed;background-color:white;z-index:1;
}

.letter-selector-wrap{
	font-size:0.8em;letter-spacing:0;line-height:1.8em;width:100%;
	overflow-x:auto;white-space:nowrap;
	background-color:#999999;
}

.letter-selector{
	vertical-align:middle;
	border-radius:6px;
	cursor:pointer;background-color:white;
	width:25px;height:25px;margin:0.1em;
	display:inline-block;
	border:1px solid #666666;
}

.letter-box{
	cursor:pointer;
	display:inline-block;
	width:30px;height:30px;margin:0.3em;
	border:1px solid black;
	line-height:30px;
}

.letter-box.selected{
	border:1px solid blue;
	background-color:#CCCCFF;
}

.debug-game,
.debug-game crossword-table table td input{
	background-color:#feff9f;
}

.app-max-width{
	max-width:1024px;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.tool-panel-wrap{
	background-color:white;
	border-bottom:1px dotted black;
	padding:.2em;
}

crossword-table{
	height:100%;display:block;overflow:auto;
	padding:2em;padding-top:3em;
}

.answer-selected crossword-table,
.debug-game crossword-table{
	padding-top:13em;
}

crossword-table table{
	border-collapse:collapse;
	margin-left:auto;margin-right:auto;
}

crossword-table table td{
	vertical-align: middle;
}

/*crossword-table table td .cell{
	width:4vw;height:4vw;
}*/

crossword-table input{
	border:none;margin:0;width:100%;height:100%;display:block;
}

.column-expected{
	border:1px solid black;cursor:pointer;background-color:white;
}

.column-correct{
	background-color:rgba(43, 184, 43, 0.565);
}

.debug-game crossword-table table td.column-expected input{
	background-color:white;
}

.column-expected input{
	text-align:center;font-size:1em;
}

.column-highlighted, .column-expected.column-selected{
	border:1px solid blue;
}

.column-highlighted, .column-highlighted input{
	background-color:#CCCCFF;
}

.column-expected.column-selected, .column-selected input{
	background-color:#8877FF;
}

.corner-title{
	position:absolute;font-size:0.7em;color:#999999;
	left:2px;top:2px;
}

.text-success{
	color:green;
}
